*{
    box-sizing: border-box;
    margin:0;
    padding: 0;

}
body{
    padding: 15px;
}
.block{
    background-color: lightblue;
    padding: 10px 20px;
    margin-bottom: 10px;
}
.inline{
    background-color: lightgreen;
    padding: 10px 20px;
    margin-bottom: 10px;
    margin-right: 15px;
    display: inline;
}
.inline-block{
    background-color: lightcoral;
    padding: 10px 20px;
    margin-right: 10px;
    width: 150px;
    display: inline-block;
}

.visible{
   background-color: rebeccapurple; 
   margin-bottom: 10px;
   padding: 20px;
}
.hidden{
    background-color: darkorange;
    padding: 20px;
    margin-bottom: 20px;
    display: none;
}
.hidden-visibility{
    background-color: aqua;
    padding: 20px;
    margin-bottom: 10px;
    visibility: hidden;
}
.opacity{
    background: rgb(13, 9, 216);
    padding: 20px;
    margin-bottom: 10px;
    color: white;
    opacity: 0;
}

/* practical project*/
.nav{
   background: #333;
   padding: 10px;
}
ul{
    list-style: none;
    display: flex;
    justify-content: center;
}
.nav-item{
    color: white;
    padding: 10px 20px;
}
